.artist-slide{

    display: grid;
    grid-template-columns: auto;
    background: url("./ArtistSlide.svg") no-repeat;
    background-size: 100%;
    padding-top: 20px;
    width: 100%; /*bad for PC*/
    height: 300px;
}

.artist-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCE3FF;
    width: 200px; /*bad for PC*/
    height: 50px;
    border-radius: 10px;
}

.artist-info-grid{
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.artist-info-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.artist-button{
    background-color: black;
    border-radius: 10px;
    width: auto;
    padding: 5%;
}


