.main-slide{

    display: grid;
    grid-template-columns: auto;
    background: url("./MainSlide.svg") no-repeat;
    background-size: 100%;
    padding-top: 20px;
    width: 100%; /*bad for PC*/
    height: 75vw;
}


.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffcccc;
    width: 100px; /*bad for PC*/
    height: 50px;
    border-radius: 10px;
}

.main-info-grid{
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-info-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media (min-width: 600px) {
    .main-slide{
        height: 30vw;
    }
  }