.main-slide{

    display: grid;
    grid-template-columns: auto;
    background: url("./PinkBackground.svg");
    background-size: 100px 82px;
    padding-top: 20px;
    width: 400px; /*bad for PC*/
    height: 300px;
}

.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffcccc;
    width: 100px; /*bad for PC*/
    height: 50px;
    border-radius: 10px;
}

.main-info-grid{
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-info-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}