.whois-slide{
    display: grid;
    grid-template-columns: auto;
    background: #00F050;
    padding-top: 20px;
    width: 400px; /*bad for PC*/
    height: 300px;
}

.whois-title{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6ffcc;
    width: 150px; /*bad for PC*/
    height: 50px;
    border-radius: 10px;
}

.whois-info-grid{
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.whois-info-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}




